/* 
    Folha de estilo do site simple site HTML5 e CSS3
    @author Tiago 
*/

/*Importação (Google Fonts)*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* CSS Reset*/
*{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}
/* Layout*/
.Container{
    margin: 0 auto;
    background-color: rgb(114, 117, 112);
}

.Flex{
    display: flex;
    justify-content: space-between;
    background-color: #1be2b0;
}


/* topo do site*/
#topo{
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/*Smartphone Portrait  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* Cabeçalho*/
header{
    height: 60px;
}

#logo img{
    width: 150px;
    height: 100px;
}

#check{
    display: none;
}

#label{
    font-size: 3em
    padding-right: 15px;
}

nav ul{
    list-style: none;
    background-color: #303538;
    height: 100vh;
    position: fixed;
    top: 20px;
    right: -100%;
    width: 100%;
    transition: all 0,5s;

}

#check:checked ~ ul {
    right: 0;
    
}

nav ul li{
    padding: 20px;
    border-bottom: 1px solid #a9a9a9;
}

nav ul li a{
    text-decoration: none;
    color: #ffff;
}

/*Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px){
    /* Layout*/
    .Container{
        background-color: aqua;
        max-width: 540px;
    }

}
/*Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px){
    /* Layout*/
    .Container{
        background-color: gold;
        max-width: 720px;
    }
}
/*Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px){
    /* Layout*/
    .Container{
        background-color: darkgreen;
        max-width: 960px;
    }
}
/*PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px){
/* Layout*/
.Container{
    background-color: darkred;
    max-width: 1140px;
}

    /* Cabeçalho*/
header{
    height: 150px;
}

#logo img{
    width: 210px;
    height: 155px;
    margin-top: 30px;
}

}